# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Hardhat deployment cache/state
ignition/deployments/

# Next.js build output
/frontend/node_modules

# Next.js environment variables
/frontend/.env.local

# Next.js build output
/frontend/.next